*{
    font-style: italic;
}

div{
    color: red;
}
p{
    color: blue ;
}

.Hello{
    font-size: 20px;
}
.one{
    font-weight: bold;
}

input[type="text"]{
    background-color: beige;
    height: 20px;
}

