.one
{
    height: 120px;
    width:  120px;
    background-color: red;
    font-size: 30pt;
    color: wheat;
    box-shadow: 5px 5px 3px;
    transition: 0.3s;
}

.one:hover
{
    transform: translate(-5px,-5px);
    box-shadow: grey 10px 10px 6px;
    background-color: tomato;
}
.one:active{
    transform: translate(5px,5px);
    box-shadow: 5px 5px 2px;
    background-color: olivedrab;
}

input:focus{
    font-size: 30pt;
    width: 200px;
}